.it{
color:orange;
background-color:green;
}
body{
color:red;
background-color:green;
}

.para{
color:white;
background-color:blue;
}
.hot{
background-color:red;
color:#fff;
padding-left:20px;
padding-right:20px;
bordar:1px solid #666;
float:left;
width:100px;

}

.news{
background-color:orange;
color:#fff;
padding-left:20px;
padding-right:20px;
bordar:10px solid #666;
float:left;
width:500px;

}

.log2{
color:green;
background-color:orange;

}